.wrapper.team-composition__header-row {
  border-bottom: 2px solid #c0bfc0;
  .box {
    font-weight: 700;
    font-size: 14px;
  }
}

.wrapper {
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 24px;
  }
  display: grid;
  grid-template-columns: 180px 1fr;
  height: 40px;
  align-content: center;
  grid-gap: 0px;
  //background-color: #fff;
  //color: #444;
  border-bottom: 1px solid #eaeaea;
}

.box {
  &:first-of-type {
    padding-left: 48px;
  }
  color: #444;
  padding: 5px;
  font-size: 20px;
}