// Defining default variables for the application, these can be overridden 
// by creating a second declaration in _variables.scss

// Background Colors
$bg-primary: null;
$bg-secodary: null;
$bg-tertiary: #91B4BA;

$accent: #D1C8C2;
// 
$ui-static: #6BC7B7;
$ui-hover: #4F6E73;
$ui-down: null;
$ui-selected: null;

// Interactive Colors:
// These colors corespond to 
$enabled: null;
$active: null;
$danger-enabled: null;
$danger-active: null;
$disabled: null;

$focus: null;



