// Defining default variables for the application, these can be overridden 
// by creating a second declaration in _variables.scss

// Background Colors
$bg-primary: null;
$bg-secodary: null;
$bg-tertiary: null;

// 
$ui-static: null;
$ui-hover: null;
$ui-down: null;
$ui-selected: null;

// Interactive Colors:
// These colors corespond to 
$enabled: null;
$active: null;
$danger-enabled: null;
$danger-active: null;
$disabled: null;

$focus: null;



