////
// Importing HTML5 Reset (for now) to have a predictible base for styling. More Info Below
//
// https://css-tricks.com/reboot-resets-reasoning/
// http://html5doctor.com/html-5-reset-stylesheet/
////
@import 'HTML5-reset';
@import 'global';

body {
  margin: 0;
  padding: 0;
  font-family: $plex-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $plex-mono,
    monospace;
}

// CSS Grid

.container {
  display: grid;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
  grid-template-areas: 
    "app-header",
    "app-content";
}

.app-header {
  grid-area: "app-header";
  background-color: rgb(41, 41, 41);
}

.app-content {
  grid-area: "app-content";
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-flow: row nowrap;
}

.view-header {
  height: 50px;
  background-color: rgb(206, 206, 206);
}

.view-body {
  flex: 1 ;
  overflow: scroll;
}

.view-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  flex: 1;
  height: calc(100vh - 100px);
  padding-bottom: 50px;
}
.view-section {

}

.view-footer {
  height: 50px;
  background-color: rgb(206, 206, 206);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.panel {
  width: 400px;
  background-color: rgb(167, 167, 167);
}



.provider-roles {
  &__section-title {
    font-size: 24px;
    font-weight: 500;
  }
  &__section-category {
    font-size: 18px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 48px;
    margin-bottom: 8px;

  }
  &__service-attributes {
    
  }
  &__service-label {
    font-weight: 600;
    font-size: 14px;
  }
}

.accordion {
  display: flex;
  flex-flow: column nowrap;
  &__header {
    background-color: #fefefe;
    padding: 20px 50px;
    border-top: 1px solid rgb(105, 105, 105);
    border-bottom: 1px solid rgb(105, 105, 105);
  }

  &__content {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    grid-gap: 0.5em;
    justify-content: center;
    padding-bottom: 40px;
  }
}